@page
@model TP3_Travail_A_Faire.Pages.CouvrePlancher.IndexModel
@{
    ViewData["Title"] = "Couvre Plancher";
}

<br />
<h2 class="text-center">Liste des couvres plancher</h2>
<a class="btn btn-primary btn-sm" asp-page="/CouvrePlancher/Create">Nouveau couvre</a>

<br />
<table class="table">
	<thead>
		<tr class="text-center">
			<th>#</th>
			<th>Nom du couvre</th>
			<th>Prix des materiaux</th>
			<th>Prix de main oeuvre</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.CouvrePlancherList) //Chaque objet vas s'afficher sous forme d'une ligne dans le tableau
		{
			<tr>
				<td>@item.idCouvrePlancher</td>
				<td>@item.nomCouvrePlancher</td>
				<td>@item.prixMateriax</td>
				<td>@item.prixMainOeuvre</td>
				<td class="text-center">
					<a class="btn btn-success btn-sm" href="/CouvrePlancher/Edit?id=@item.idCouvrePlancher">Modifier</a>
					<a class="btn btn-danger btn-sm" href="/CouvrePlancher/Delet?id=@item.idCouvrePlancher">Supprimer</a>
				</td>
			</tr>
		}
	</tbody>
</table>
