@page
@model TP3_Travail_A_Faire.Pages.aProposModel
@{
    ViewData["Title"] = "A PROPOS";
}
<div>
    <h1>À Propos de Plancher Expert</h1>
    <br />
    <p>Bienvenue chez Plancher Expert, votre partenaire de confiance pour tous vos besoins en revêtements de sol. Chez Plancher Expert, nous comprenons l'importance d'un sol de qualité pour créer l'atmosphère parfaite dans votre espace de vie ou de travail.</p>
    
    <h5>Notre Histoire</h5>
    <p>Fondée avec la passion de transformer les espaces à travers des revêtements de sol exceptionnels, Plancher Expert a évolué pour devenir un acteur majeur dans l'industrie. Notre histoire est marquée par notre engagement envers l'excellence et notre dévouement à satisfaire les besoins uniques de nos clients.</p>

    <h5>Notre Mission</h5>
    <p>Chez Plancher Expert, notre mission est simple mais puissante : offrir des solutions de revêtement de sol de qualité supérieure, alliant esthétique et fonctionnalité. Nous nous efforçons de créer des espaces qui respirent le confort, l'élégance et la durabilité.</p>

    <h5>Ce Que Nous Offrons</h5>
    <p>Explorez notre gamme complète de revêtements de sol, des parquets classiques aux options modernes et durables. Plancher Expert s'engage à fournir des produits de qualité, méticuleusement sélectionnés pour répondre aux normes les plus élevées de style et de performance.</p>

    <h5>Engagement envers la Qualité</h5>
    <p>La qualité est le fondement de notre entreprise. Chaque produit chez Plancher Expert est soumis à des normes rigoureuses de contrôle qualité pour garantir une satisfaction totale de nos clients. Nous croyons que votre sol ne devrait être rien de moins que parfait.</p>

    <h5>Responsabilité Sociale et Environnementale</h5>
    <p>Chez Plancher Expert, nous sommes conscients de notre impact sur l'environnement. Nous nous efforçons d'adopter des pratiques durables tout en offrant des solutions de revêtement de sol respectueuses de l'environnement.</p>
</div>