@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur Plancher Expert</h1><br /><br />
    <p>Votre référence en expertise et excellence pour tous vos besoins en revêtements de sol.<br />Découvrez la qualité à chaque pas!</p>
    <img src="https://drplancherexpert.com/images/home/6.jpg" width="500" />
</div>
