@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <br />

    <h5>Dernière mise à jour : 22/11/2023</h5>
    <p>Nous accordons une grande importance à la protection de vos informations personnelles. Cette politique de confidentialité détaille les types d'informations que nous collectons lorsque vous utilisez notre site, comment nous les utilisons, et comment nous les protégeons. En utilisant ce site, vous consentez à la collecte et à l'utilisation de vos informations conformément à cette politique.</p>

    <h5>Collecte d'Informations</h5>
    <p>Lorsque vous visitez Plancher Expert, nous pouvons collecter des informations personnelles telles que votre nom, votre adresse e-mail, et d'autres données que vous choisissez de partager avec nous. Nous utilisons ces informations pour améliorer votre expérience sur le site et pour vous fournir les services demandés.</p>

    <h5>Partage d'Informations</h5>
    <p>Nous ne vendons ni ne louons vos informations personnelles à des tiers. Cependant, dans certaines circonstances, nous pouvons partager vos informations avec des partenaires de confiance pour fournir les services demandés ou pour des besoins légaux.</p>

    <h5>Sécurité des Informations</h5>
    <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, toute divulgation, toute altération et toute destruction.</p>

    <h5>Contact</h5>
    <p>Si vous avez des questions concernant cette politique de confidentialité, veuillez nous contacter à contact@placher-expert.ma .</p>
</div>